
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: black;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
}

header .logo:hover{
    transition: 0.3s;
    color: rgb(255, 44, 132);
}

header #toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle:before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}


header #toggle:after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.banner {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: black;
    /* background: flex; */
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

.banner.active header #toggle:before {
    top: 50%;
    left: 50%;
    transition: 0.3s;
    transform:  rotate(45deg);
}

.banner.active header #toggle:after {
    top: 50%;
    left: 50%;
    transition: 0.3s;
    transform:  rotate(-45deg);
}
.banner.active {
    transform: translateX(-400px);
}

#navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: rgb(255, 44, 132);
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active {
    right: 0;
}

#navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

#navigation ul li {
    list-style: none;
}

#navigation ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}

#navigation ul li a:hover {
    color: black;
    transition: 0.3s;
}

.content {
    float: left;
    max-width: 640px;
}

.content h2 {
    color: #fff;
    font-size: 3.5em;
}

.content h2 span {
    color: rgb(255, 44, 132);
    font-size: 1.2em;
}
.content p{
    font-size: 2.2em;
    color: #fff;
    font-weight: 300;
}

.content a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.avatar{
    width: 300px;
    height: auto;
    /* position: relative; */
    /* right: 10%; */
    /* top: 100px; */
    border: 10px black solid;
    margin: 20px;
    display: block;
    border-bottom: 10px solid rgb(255, 44, 132);
    border-right: 10px solid rgb(255, 44, 132);
    /* box-shadow: 20px 20px 0 yellow; */
    /* border-radius: 35px; */
    float: right;
}

.hire {
    transition: 0.3s;
}

.hire:hover {
    background-color: rgb(255, 44, 132);
    transition: 0.3s;
    color: white;
}


/* Contactcs styles */
.contact-list{
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
.contact-list li{
    text-align: left;
    display: inline-block;
    max-width: 40%;
    min-height: 300px;
    vertical-align: top;
    margin: 40px;

}

.contact-list li a {
    transition: 0.3s;
    margin-bottom: 15px;
}

.contact-list li a:hover {
    transition: 0.3s;
    background: rgb(255, 44, 132);
}

.contacts {
    width: 100%;   
    max-width: 100%;

}

h4{
    color: white;
    font-size: 3em;
}

@media (max-width: 767px){
    header {
        font-size: 0.8em;
        padding: 20px 50px;
        align-items: flex-start;
    }
    .banner {
        padding: 100px 50px 150px;
        flex-direction: column;
    }
    .banner h2 {
        font-size: 1.8em;
    }
    .banner .content p{
        font-size: 1em;
    }

    .banner.active{
        transform: translateX(-250px);
    }
    #navigation {
        width: 250px;
    }
    #navigation ul li a{
        font-size: 1.5em;
        margin: 5px 0;
    }
    .content{
        float: none;
    }
    
    .avatar{
        float: none;
        width: 70%;
        height: auto;
    }

    /* Contacts  */
    .contact-list{
        text-align: left;
    }
    .contact-list li{
        display: block;
        min-height: 0;
        max-width: 90%;
        margin-left: 0;
    }
    h4 {
        font-size: 1.5em;
    }
}
